gmfeditor/org.tura.metamodel.hutn.processor/xsd/hutnflow.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tura.org/platform/hutn/workflow" elementFormDefault="qualified" targetNamespace="http://tura.org/platform/hutn/workflow">

    <element name="flow" type="tns:flow"/>

    	<complexType name="flow">
		  <sequence>
			<element maxOccurs="unbounded" name="ruleFlow" type="tns:Rule"/>
		  </sequence>
    	  <attribute name="model" type="string"/>
    	</complexType>

   	<complexType name="Rule">
			  <attribute name="filename" type="string"/>
			  <attribute name="order" type="integer"/>
			  <attribute name="type" type="string"/>
	 </complexType>
    
    
</schema>
